<div>
    <div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/7755176/pexels-photo-7755176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 400px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/3065171/pexels-photo-3065171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 400px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/3065209/pexels-photo-3065209.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height:400px;" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
    </div>
</div>